﻿@model IEnumerable<QuickCountClient.Models.QuickCount>


@{
    ViewBag.Title = "KawalPilkada";
}

<div class="jumbotron">
    <h1>Kawal Pilkada (From Source Control)</h1>
    <p class="lead">Pantau pilkada disekitarmu, temukan kecurangan dan laporkan hasil dengan jujur dan adil</p>
   
</div>

<div class="row">
    <table class="table">
        <tr>
            <th>
                No
            </th>
            <th>
                Calon Kepala Daerah
            </th>
            <th>
                Jumlah Pemilih
            </th>
            <th>
                %
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.No
                </td>
                <td>
                    @item.PasanganCalon
                </td>
                <td>
                    @item.JumlahPemilih
                </td>
                <td>
                    @item.Persentase
                </td>
                <td></td>
            </tr>
        }

    </table>
</div>